body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.categoria {
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120%; 
    position: relative; 
}

.jugador {
    padding: 20px;
    border-radius: 10px;
    width: 50%; 
    text-align: center;
    position: relative; 
}

.jugador.ao {
    background-color: #005A8B; 
}

.jugador.aka {
    background-color: #D32F2F; 
}

.puntaje {
    font-size: 50px;
}

.contenedor-botones {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 10px; 
}

.contenedor-botones button {
    width: 150px; 
    padding: 10px; 
    margin: 5px 0; 
}

.faltas {
    font-size: 20px;
    margin-top: 60px; 
}

.contenedor-faltas {
    font-size: 20px;
    margin-top: 40px;
}

.contenedor-temporizador {
    position: absolute; 
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10; 
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px; 
}

.categoria-container {
    position: absolute;
    top: 84%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; 
    text-align: center; 
    padding: 20px; 
    border-radius: 10px; 
}

.categoria2-container {
    position: absolute; 
    top: 95%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10; 
    text-align: center; 
    padding: 20px; 
    border-radius: 10px; 
}

.temporizador {
    font-size: 60px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white; 
    color: #0076A8;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0076A8; 
    color: white; 
}

#iniciar {
    background-color: #4CAF50; 
    color: white;
}

#detener {
    background-color: #F44336; 
    color: white;
}
